:root {
  --header-color: #E6E8EB;
  --header-height: 42px;
  --header-highlight-color: #EBEDEF;
  --header-highlight-height: 2px;
  --header-shadow-color: #B1B2B5;
  --header-shadown-height: 4px;
  --main-panel-color: #48494A;
  --main-panel-shadow-color: #333334;
  --main-panel-shadow-height: 2px;
  /* --scrollbar-thumb-image: url('scrollbar-thumb.png');
  --scrollbar-track-image: url('scrollbar-track.png'); */
  --scrollbar-track-width: 5px;
  /* --scrollbar-track-color: #58585A; */
  --scrollbar-track-border-color: #48494A;
  --scrollbar-thumb-color: #F5F6F7;
  --scrollbar-thumb-border-color: black;
  --scrollbar-thumb-border-width: 3px;
  --scrollbar-thumb-bottom-color: #58585A;
  --scrollbar-thumb-bottom-height: 6px;

}

::-webkit-scrollbar {
  width: 15px;
  
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--scrollbar-thumb-top-color) var(--scrollbar-thumb-top-height), var(--scrollbar-thumb-color) var(--scrollbar-thumb-top-height));
  border: var(--scrollbar-thumb-border-width) solid var(--scrollbar-thumb-border-color);
  border-bottom: none;
  box-shadow: inset 0 -10px 0 var(--scrollbar-thumb-color);
  background: linear-gradient(to top, var(--scrollbar-thumb-bottom-color) var(--scrollbar-thumb-bottom-height), var(--scrollbar-thumb-color) var(--scrollbar-thumb-bottom-height));
  border: var(--scrollbar-thumb-border-width) solid var(--scrollbar-thumb-border-color);
  box-shadow: inset 0 10px 0 var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  width: 3px;
  margin-left: calc(-1 * var(--scrollbar-track-width));
  box-shadow: inset 0 0 0 var(--scrollbar-track-width) var(--scrollbar-track-border-color);
}


.mainfest-minecraft-button {
  margin: 10px;
  cursor: pointer;
  display: flex;
}


.buttonsmc {
  height: 52px;
}

.minecraft-button {
  border: 1px;
  height: 44px;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #1E1E1F;
  cursor: pointer;
}

.disabled-button {
  cursor: not-allowed;
}



.mainfest-button-top { 
  font-family: "MinecraftTen";
  background-color: #d0d1d4;
  border: 2px solid #e3e3e5;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  place-items: center;
  display: flex;
  image-rendering: pixelated;
  color: #000 !important;
  letter-spacing: .1px;
  font-size: 16px;
  user-select: none;
}

.button-top:hover {
  background-color: #2A641C;
}

.minecraft-button {
  border: 1px;
  height: 44px;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #1E1E1F;
  cursor: pointer;
}

.button-top { 
  font-family: "MinecraftTen";
  background-color: #3C8527;
  border: 2px solid #4F913C;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  place-items: center;
  display: flex;
  image-rendering: pixelated;
  color: #FFF;
  letter-spacing: .1px;
  font-size: 16px;
  text-shadow: 1.5px 1.5px 1px #2A5D1B;
  user-select: none;
}

.button-top:active {
  height: 40px;
  transform: translateY(4px);
}

.button-shadow {
  height: 4px;
  background-color: #1D4D13;
  box-sizing: border-box;
  width: 100%;
}


.mainfest-button-shadow {
  height: 4px;
  background-color: #58585a;
  box-sizing: border-box;
  width: 100%;
}

.minecraft-button:active {
  height: 40px;
  transform: translateY(4px);
}

.minecraft-button:active .button-shadow {
  height: 0px;
}
